<form action="postUser" method="POST">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control"  placeholder="First Name" name="firstName">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" placeholder="Last Name" name="lastName">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="number" class="form-control" placeholder="Age" name="age">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <button type="submit" class="btn btn-primary" >Add User</button>
</form>
<a href="/users">To the list of users</a>